langgraph
langchain
langchain-groq
langchain-openai
langchain-chroma
langchain-google-genai
langchain-community
chromadb
google-generativeai
streamlit
python-dotenv
pypdf
pandas
numpy
sentence-transformers
tavily-python
fastapi
uvicorn[standard]
jinja2
python-multipart
